main {
    background-image: url(../images/windows95.png);
    background-size: cover;
    width: auto;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

body {
  margin: 0;
  height: 100vh;
}

.grootediv {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100vh;
  align-items: center;
}

.blauw {
    background-color: rgba(0, 0, 255, 0.6);
    height: 100vh;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    color: white;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.speelvlak {
  display: flex;
  background-color:darkgray;
  width:95% ;
  height: 85%;
  justify-content: center;
  align-items: center;
  
}

.spelletje {
  display: flex;
  background-color: lightgray;
  height:95%;
  width: 75%;
  flex-direction: row;
}


.partyblock {
  display: flex;
  margin-top: 4%;
  background-color: rgba(0, 0, 255, 0.6);
  width: 15%;
  height: 85%;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}


.alles {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-content:center ;
}

.rechts {
    display: flex;
  
  width: 15%;
  height: 85%;
}

.uservlak {
  background-color: lightgray;
  width: 90%;
  height: 85%;
  display: flex;

}

/*
.naam {
  display: flex;
  justify-content: center;
  background-color: blue;
  width: 70%;
  height: 10vh;
} */

.samuel {
display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.samuel h1 {
  margin: 0;
  text-align: center;
}
.samuel h2 {
   margin: 0;
}