main {
    background-image: url(../images/windows95.png);
    background-size: cover;
    width: auto;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

body {
  margin: 0;
  height: 100vh;
}

.grootediv {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100vh;
  align-items: center;
}

.blauw {
    background-color: rgba(255, 0, 0, 0.6);
    height: 100vh;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.speelvlak {
  display: flex;
  background-color:darkgray;
  width:95% ;
  height: 85%;
  justify-content: center;
  align-items: center;
  
}

.spelletje {
  display: flex;
  background-color: lightgray;
  height:95%;
  width: 95%;

 
}

.partyblock {
  display: flex;
  margin-top: 4%;
  background-color: rgba(255, 0, 0, 0.6);
  width: 15%;
  height: 85%;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}


.alles {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-content:center ;
}

.rechts {
  display: flex;
  margin-top: 4%;
  background-color: rgba(255, 0, 0, 0.6);
  width: 15%;
  height: 85%;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.sabotages {
    background-color: lightgray;
  width: 90%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.uservlak {
  background-color: lightgray;
  width: 90%;
  height: 85%;
  display: flex;

}

img {
width: 85px;
height: 85px;
}

.boven{
  display: flex;
  flex-direction: row;
}

.onder{
  display: flex;
  flex-direction: row;
}