main {
    background-image: url(../images/windows95.png);
    background-size: cover;
    width: auto;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

body {
  margin: 0;
  height: 100vh;
}

.grootediv {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100vh;
  align-items: center;
}

.blauw {
    background-color: rgba(0, 0, 255, 0.6);
    height: 100vh;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    color: white;
    flex-direction: column;
    align-items: center;
}

.speelvlak {
  display: flex;
  background-color:darkgray;
  width:90% ;
  height: 80%;
  justify-content: center;
  align-items: center;
  
}

.spelletje {
  display: flex;
  background-color: lightgray;
  height:70%;
  width: 80%;

 
}



/*
.naam {
  display: flex;
  justify-content: center;
  background-color: blue;
  width: 70%;
  height: 10vh;
} 

