main {
     background-image: url(../images/windows95.png);
  background-size: cover;
  width: auto;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
      display: flex;
    justify-content: center;
}

body {
  margin: 0;
  height: 100vh;
}

.grootediv {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100vh;
  align-items: center;
}


.naam {
  display: flex;
  justify-content: center;
  background-color: blue;
  width: 70%;
  height: 10vh;
} 

.blauw {
    background-color: blue;
    opacity:60% ;
    height: 100vh;
    width: 70%;
    display: flex;
    justify-content: center;
    color: white;
}
