html, body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    justify-items: center;
}

.container > div {
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.container > div img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}
h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}