body {
  margin: 0;
   background-image: url(shit.png);
   background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a49d9d;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(15, 14, 14);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #000dff;
  color: white;
}
.boomboom {
  width: 100%;
  display: flex;
  justify-content: end;
}
.boomboom img {
  width: 10%;
}