body {
  background-image: url("../images/hout.jpg");
  background-repeat: repeat;   /* herhaal de afbeelding */
  background-position: center; /* centreren */
  width: 100%;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}